* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #F2CEDA;
}

.container {
    flex-direction: row;
}

.logo {
    display: flex;
}

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.li-menu {
    margin-right: 40px;
}

.button {
    display: flex;
    justify-content: flex-end;
}