* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.header {
    background-color: #F2CEDA;
}

.nav-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex-direction: row;
}

.logo {
    display: flex;
    width: 79px;
    height: 79px;
    margin-right: 266px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-right: 172px;
}

.active-link {
    font-weight: 700;
    color: #D23166!important;
}

.li-menu:hover {
    color: #D23166;
    transition: all 0.3s ease;
}


.li-menu {
    margin-right: 40px;
    color: #150101;
}

.button {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    list-style-type: none;
    background-color: #D23166;
    border-radius: 5px;
    padding: 6px 12px;
}